include README.md
include LICENSE
include CHANGELOG
recursive-include geoprisma_config/management *
recursive-include geoprisma_config/static *
recursive-include geoprisma_config/templates *
recursive-include geoprisma_config/conf *