{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}

  {% if not is_popup  %}
<div id="left_content">
    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          <li>
            {% if object_id or is_add %}
            <a href="../add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
            {% else %}
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
            {% endif %}
              {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
          </li>
        </ul>
      {% endif %}
    {% endblock %}
    {% block left_content %}
    {% endblock %}
    </div>
  {% endif %}
    
    <div id="right_content"   {% if not is_popup  %}style="float: left"{% endif %}>
      {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
    {% block right_content %}
    {% endblock %}
    </div>
{% endblock %}

